/* General page body */

html,
body {
  width: 100%;
  margin: 0;
  font-family: "Fakt", sans-serif, Helvetica, Arial;
}

*,
:after,
:before {
  box-sizing: border-box;
}

a,
u {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.hidden {
  display: none;
}

#header {
  background: #fff;
  border-bottom: 1px solid #e6e9eb;
  height: 44px;
  left: 0;
  margin-bottom: 24px;
  padding: 14px 26px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
}

/* Buttons */

.button {
  background: #00112c;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  margin: 0;
  padding: 15px;
  text-align: center;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 100%;
}

.button:hover {
  background: #1c3045;
  box-shadow: 0 3px 4px rgba(0, 15, 45, 0.2);
}

.button:active {
  background: #3a4a5c;
}

.button:disabled {
  background: #e6e9eb;
  box-shadow: none;
  cursor: not-allowed;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

/* end General page body */

/* Index page */

.main-container {
  margin: auto;
  /* max-width: 1048px; */
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.integration-list {
  display: flex;
  margin-top: 6%;
  max-width: 1048px;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .integration-list {
    margin-left: -8px;
    margin-bottom: -8px;
    margin-right: -8px;
  }
}

@media (min-width: 1024px) {
  .integration-list {
    margin-left: -16px;
    margin-bottom: -16px;
    margin-right: -16px;
  }
}

.integration-list-item {
  background: #f7f8f9;
  border-radius: 6px;
  flex: 1 1 0;
  margin: 4px;
  min-width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f7f8f9;
}

.integration-list-item:hover {
  box-shadow: 0 16px 24px 0 #e5eaef;
  text-decoration: none;
  border: 1px solid #06f;
}

@media (min-width: 768px) {
  .integration-list-item {
    margin-left: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    margin-top: 16px;
    min-width: 25%;
  }
}

.integration-list-item-link {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .integration-list-item-link {
    padding-left: 28px;
    padding-bottom: 28px;
    padding-right: 28px;
    padding-top: 28px;
  }
}

.integration-list-item-title {
  margin: 0;
  text-align: center;
  color: #00112c;
  font-size: 1em;
  font-weight: 700;
  margin: 10px 0 0;
}

@media (min-width: 768px) {
  .integration-list-item-title {
    font-size: 24px;
    margin-left: 0;
    margin-bottom: 6px;
    margin-right: 0;
  }
}

.integration-list-item-subtitle {
  color: #00112c;
  font-size: 0.67em;
  font-weight: 700;
  margin: 10px 0 0;
}

@media (min-width: 768px) {
  .integration-list-item-subtitle {
    font-size: 16px;
    margin-left: 0;
    margin-bottom: 6px;
    margin-right: 0;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  margin-top: 10%;
  color: #00112c;
}

/* end Index page */

/* Cart preview page */

.container {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  /* padding-left: 15%; */
  width: 100%;
  min-width: 50%;
  max-width: 100%;
  margin-top: 100px;
}

.shopping-cart {
  float: right;
}
@media (min-width: 768px) {
  .shopping-cart {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 3px;
  }
}
.shopping-cart-link {
  display: inline-block;
  position: relative;
}
.order-summary-list {
  border-top: 1px solid #e6e9eb;
  padding: 2%;
  width: 100%;
}
.order-summary-list-list-item {
  border-bottom: 1px solid #e6e9eb;
  display: flex;
  height: 97px;
  width: 100%;
  padding: 2%;
  font-size: 12px;
  text-align: left;
}
.order-summary-list-list-item-image {
  height: 64px;
  margin: 16px;
  width: 64px;
}
.order-summary-list-list-item-title {
  font-weight: 700;
  margin: auto auto auto 0;
}

.order-summary-list-list-item-button {
  font-weight: 700;
  margin: auto auto auto 0;
  border-radius: 50px;
  background-color: #3a4a5c;
  color: #f7f8f9;
  width: 10%;
}

.order-summary-list-list-item-price {
  color: #687282;
  margin: auto 16px;
  text-align: left;
  width: 30%;
  margin-left: 0;
}
@media (min-width: 768px) {
  .order-summary-list-list-item-price {
    margin-left: 24px;
    margin-bottom: auto;
    margin-right: 24px;
    margin-top: auto;
  }
}
.order-summary-list-list-item-remove-product {
  background: none;
  border: 0;
  cursor: pointer;
  height: 25px;
  margin: auto 0;
  padding: 0;
  width: 25px;
}
.cart {
  text-align: center;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}


.cart-footer {
  font-weight: 700;
  margin-top: 17px;
  text-align: right;
  align-items: center;
}
@media (min-width: 768px) {
  .cart-footer {
    margin-top: 24px;
  }
}
.cart-footer .button {
  margin-top: 30px;
  width: 100%;
}
@media (min-width: 768px) {
  .cart-footer .button {
    margin-top: 0;
    width: 288px;
  }
}
.cart-footer-amount {
  margin-left: 16px;
  margin-right: 24px;
}
.whole-preview {
  margin: auto;
  max-width: 1110px;
  padding: 0 16px;
}
@media (min-width: 1440px) {
  .whole-preview {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

/* end of Cart preview page */

/* Payment page */

#payment-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#payment-page .container {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* max-width: 1110px; */
  padding-left: 8px;
  padding-right: 8px;
}

.checkout-component {
  background: #f7f8f9;
  border: 1px solid #e6e9eb;
  border-radius: 12px;
  margin: 8px 0;
}

/* Adyen Components */
.payment {
  width: 100%;
  padding-top: 0px !important;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 1076px) {
  #payment-page .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .payment {
    align-self: center;
    max-width: 610px;
  }
}

.payment-container {
  display: flex;
  justify-content: center;
  background: #f7f8f9;
  border: 1px solid #e6e9eb;
  border-radius: 12px;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin-top: 20px;
  padding: 1rem;
}

/* end Payments page */

/* Dropin page */

#dropin {
  width: 100%;
  max-width: 450px;
}

@media screen and (max-width: 1076px) {
  #dropin {
    width: 100%;
    max-width: 610px;
  }
}

/* end Dropin page */


/* Status page */

.status-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  margin: 100px 0 126px;
  text-align: center;
}

.status .status-image {
  display: block;
  height: 100px;
  margin: 16px auto 0;
}

.status .status-image-thank-you {
  height: 66px;
}

.status .status-message {
  margin: 8px 0 24px;
}

.status .button {
  max-width: 236px;
}

@media (min-width: 768px) {
  .status .button {
    max-width: 200px;
  }
}

/* end Status page */

.graphbtn {
  background-color: #eaf1f1;
  border: 2px solid #0abf53;
  border-radius: 10px;
  margin-right: 5px;
  width: 180px;
  font-size: 12px;
  /* z-index: 1; */
}

.graphbtn:hover{
  background-color: #fff;
}

.btnarea {
  position: relative;
  display: flex;
  width: 300px;
  height: 100px;
  top: 70px;
}

table {
  top: 100px;
  position: relative;
  width: 100%;
  height: 300px;
  /* margin-bottom: 220px; */
}

.margin-container {
  min-width: 0%;
  width: 30%;
}

.store-container {
  display: flex;
  min-width: 40%;
  max-width: 60%;
  height: 100%;
  flex-flow: row wrap;
  margin-right: 1%;
}

.summary-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1%;
  border-left: solid 1px #e6e9eb;
  /* background-color: #3a4a5c;
  color: #f7f8f9; */
}

.order-summary {
  overflow: hidden;
}

.item-container {
  width: 40%;
  flex-grow: 2;
  height: 20%;
  border: solid 1px #3a4a5c;
  border-radius: 20px;
  margin: 5px;
  padding: 5%;
}

.statitle {
  font-size: 13px;
  font-weight: 700;
  margin-right: 20px;
  width: 100%;
}

tr {
  width: 100%;
}

.statval {
  font-size: 12px;
  width: 100%;
}

.product-img {
  width:100%;
  height:100%;
  object-fit: cover;
  overflow: hidden;
}

.store-product-img {
  width: 50%;
  height: 100%;
}

.hidden {
  width: 0;
  display: none;
}

.sum-toggle {
  position: absolute;
  right: 0;
  width: 30px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #3a4a5c;
  color: #f7f8f9;
}

.forms {
  width: 100%;
  text-align: left;
}

.forms input {
  width: 30%;
  margin-bottom: 2%;
  margin-right: 5%;
}

.forms label {
  color: #687282;
  font-weight: 700;
  width: 30%;
  margin-right: 5%;
}

.forms button {
  background-color: #3a4a5c;
  color: #f7f8f9;
  border: none;
  border-radius: 10px;
  width: 10%;
  padding: 1%;
  margin-bottom: 2%;
  min-width: 69px;;
}

.forms #samebilling {
  margin-bottom: 2%;
  width: 5%;
}

.forms #checkbox-label {
  width: 15%;
}

.forms h2 {
  padding-bottom: 10px;

}

form {
  padding: 5%;
}

.collapsed form{
  display: none;
}

.component {
  margin-bottom: 5%;
}

.main-button {
  margin: 2%;
  padding: 1%;
  background-color: #3a4a5c;
  color:#eaf1f1;
  border-radius: 10px;
}


.order-summary-list-list-item .product-img {
  max-width: 20%;
  max-height: 100%;
  background-size: contain;
  margin-right: 2%;
}

.pm-header {
  display: flex;
  margin-bottom: 2%;
  padding-bottom: 2%;
  text-align: middle;
  border-bottom: solid 1px #e5eaef;
}

.pm-radio {
  margin-right: 2%;
}

.container-wrapper img {
  margin-right: 2%;
}

.pencil-icon {
  margin-left: auto;

}

.pencil-icon :hover {
  cursor: pointer;
}

.form-header {
  display: flex;
  max-height: 60px;
  border-bottom: solid 1px #687282;
  margin-bottom: 0.5rem;
}

.shipping-method-container input{
  width: 15%;
}

.top-container {
  text-align: center;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-content: center;
  align-items: center;
  margin-top: 5%;
  margin-left: 15%;
}

.statval button {
  background-color: #3a4a5c;
  color: #f7f8f9;
  border: none;
  border-radius: 10px;
  width: 10%;
  padding: 1%;
  margin-bottom: 2%;
  min-width: 80px;
}
